@use 'config' as *;

%count {
  @include getBg($clr-primary,200);
  @include getColor($clr-neutral,100);
  display: grid;
  place-items: center;
  font-size: 16px;
  font-weight: $medium;
  height: 24px;
  padding: 0 .6rem;
  border-radius: 6px;
}

button {
  @include getColor($clr-neutral,600);
  background: none;
  border: none;
}

.notification-wrapper {
  display: grid;
  gap: .7rem 0;
}

%notification {
  display: grid;
  gap: .7rem 0;

  li {
    transition: background-color .6s ease-in-out;
    padding: 1rem;
    display: flex;
    gap: 0 .8rem;
    line-height: 1.1;
    border-radius: 6px;

    > div {
      flex-shrink: 0;
    }

    img {
      width: 40px;
      //height: 50px;
      object-fit: cover;
    }

    .time {
      margin-top: .4rem;
    }
  }

  .content {
    line-height: 1.3;
    border-radius: 4px;
    margin-top: 1rem;
    padding: 1rem;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  }

}

%unread {
  li {
    @include getBg($clr-neutral,300);
    animation: pulse;
    animation-delay: 1s;
    animation-duration: 2s;
  }
}

@mixin container-styles {
  animation: fadeIn;
  animation-duration: 1s;
  padding: 1.5rem 1.6rem;
  border-radius: 8px;
  @include container(min(90%,650px));
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}